{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ obj.url }}</h1>
<h1><a class="btn-link" href="{{ obj.url }}">{{ obj.get_short_url }}</a></h1>
<h5>{{ created }}</h5>
<h1>{% if co %}Count this month: {{ co }}{% endif %}</h1>
<h1>{% if co %}Month: {{ obj.pub_date }}{% endif %}</h1>
<h1 class="cover-heading">{{ title }}</h1>
<p class="lead">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="." method="POST"> {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Cut!"/>
        </form>
    </div>
</p>
{% endblock content %}